	<div class="middle-box text-center  error-wrapper animated fadeInRight">
		<h1 class="head">404</h1>
		<h3 class="font-bold">Page Not Found</h3>
		<div class="error-desc"> Sorry, but the page you are looking for has note been found. Try checking the URL for error, then hit the refresh button
			on your browser or try found something else in our app.
			<form class="top15">
				<div class="form-group">
					<input type="text" placeholder="Search for page" class="form-control">
				</div>
				<button class="btn green bottom0 btn120" type="submit">Search</button>
			</form>
		</div>
	</div>
	<!-- /error-wrapper -->
	<div class="error-page-footer">
		<div class="error-container">
			<ul class="footer-links">
				<li><a href="#">E-commerce Pages</a></li>
				<li><a href="#">Gallery  Pages</a></li>
				<li><a href="#">Apps Pages</a></li>
				<li><a href="#">User Pages</a></li>
				<li><a href="#">Search Page</a></li>
			</ul>
			<br>
			<ul class="footer-links small-links">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">UI Features </a></li>
				<li><a href="#">Components</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Charts</a></li>
				<li><a href="#">Maps</a></li>
				<li><a href="#">Mailbox </a></li>
			</ul>
			<br>
			<div class="copyright"> All work <strong>Copyright</strong> AdminBag Company © 2017 </div>
		</div>
	</div>
	<!-- /error-page-footer -->


