
	<div class="middle-box text-center  error-wrapper animated fadeInRight">
		<h1 class="head">500</h1>
		<h3 class="font-bold">Internal Server Error</h3>
		<div class="error-desc"> The server encountered something unexpected that didn't allow it to complete the request. We apologize.<br> You can go
			back to main page: <br>
			<a class="btn green top15" href="#/dashboard1">Dashboard</a> </div>
	</div> 
	<!-- /error-wrapper -->
	<div class="error-page-footer">
		<div class="error-container">
			<ul class="footer-links">
				<li><a href="#">E-commerce Pages</a></li>
				<li><a href="#">Gallery  Pages</a></li>
				<li><a href="#">Apps Pages</a></li>
				<li><a href="#">User Pages</a></li>
				<li><a href="#">Search Page</a></li>
			</ul>
			<br>
			<ul class="footer-links small-links">
				<li><a href="#">Dashboard</a></li>
				<li><a href="#">UI Features </a></li>
				<li><a href="#">Components</a></li>
				<li><a href="#">Tables</a></li>
				<li><a href="#">Charts</a></li>
				<li><a href="#">Maps</a></li>
				<li><a href="#">Mailbox </a></li>
			</ul>
			<br>
			<div class="copyright"> All work <strong>Copyright</strong> AdminBag Company © 2017 </div>
		</div>
	</div>
	<!-- /error-page-footer -->
