<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <h2> Alerts Modal Tooltip </h2>
          <ol class="breadcrumb">
            <li> <a href="#/dashboard1">Home</a> </li>
            <li> <a>UI Features</a> </li>
            <li class="active"> <strong> Alerts Modal Tooltip </strong> </li>
          </ol>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <!-- Default Alerts -->
          <div class="col-lg-4">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Default Alerts</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo1"  >
                <div class="widgets-container">
                  <p>Default Alerts</p>
                  <div class="alert alert-success"> <strong>Success!</strong> The page has been added. </div>
                  <div class="alert alert-info"> <strong>Info!</strong> You have 198 unread messages. </div>
                  <div class="alert alert-warning"> <strong>Warning!</strong> Your monthly traffic is reaching limit. </div>
                  <div class="alert alert-danger"> <strong>Error!</strong> The daily cronjob has failed. </div>
                  <p>Dismissable Alerts</p>
                  <div class="alert alert-warning alert-dismissible" role="alert">
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">×</span></button>
                    <strong>Warning!</strong> Better check yourself, you're not looking too good. </div>
                  <p>Links in alerts</p>
                  <div role="alert" class="alert alert-success"> <strong>Well done!</strong> You successfully read <a class="alert-link" href="#">this important alert message</a>. </div>
                  <div role="alert" class="alert alert-info"> <strong>Heads up!</strong> This <a class="alert-link" href="#">alert needs your attention</a>, but it's not super important. </div>
                  <div role="alert" class="alert alert-warning"> <strong>Warning!</strong> Better check yourself, you're <a class="alert-link" href="#">not looking too good</a>. </div>
                  <div role="alert" class="alert alert-danger"> <strong>Oh snap!</strong> <a class="alert-link" href="#">Change a few things up</a> and try submitting again. </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Notes -->
          <div class="col-lg-8">
            <div class="row">
              <div class="col-lg-12">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5>Notes </h5>
                    <!-- ibox-tools -->
<div ibox-tools></div>
                  </div>
                  <div class="ibox-content collapse in" id="demo2">
                    <div class="widgets-container">
                      <div class="note note-success">
                        <h4 class="block">Success! Some Header Goes Here</h4>
                        <p> Duis mollis, est non commodo luctus, nisi erat mattis consectetur purus sit amet porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                      </div>
                      <div class="note note-info">
                        <h4 class="block">Info! Some Header Goes Here</h4>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, mattis consectetur purus sit amet eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                      </div>
                      <div class="note note-danger">
                        <h4 class="block">Danger! Some Header Goes Here</h4>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet.\ Cras mattis consectetur purus sit amet fermentum. </p>
                      </div>
                      <div class="note note-warning">
                        <h4 class="block">Warning! Some Header Goes Here</h4>
                        <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit mattis consectetur purus sit amet. Cras mattis consectetur purus sit amet fermentum. </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--  Modal Dialogs -->
              <div class="col-lg-12">
                <div class="ibox float-e-margins">
                  <div class="ibox-title">
                    <h5> Modal Dialogs </h5>
                    <!-- ibox-tools -->
<div ibox-tools></div>
                  </div>
                  <div class="ibox-content collapse in" id="demo6">
                    <div class="widgets-container">
                      <p>Toggle a modal via JavaScript by clicking the button below. It will slide down and fade in from the top of the page.</p>
                      <!-- modal -->
                      <button type="button" class="btn btn-primary" data-toggle="modal" data-target=".modal-m">Modal</button>
                      <div class="modal fade modal-m" tabindex="-1" role="dialog" >
                        <div class="modal-dialog ">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title" >Modal title</h4>
                            </div>
                            <div class="modal-body"> One fine body… </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn green">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Large modal -->
                      <button type="button" class="btn green" data-toggle="modal" data-target=".bs-example-modal-lg">Large modal</button>
                      <div class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" >
                        <div class="modal-dialog modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title" >Modal title</h4>
                            </div>
                            <div class="modal-body"> One fine body… </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn green">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!-- Small modal -->
                      <button type="button" class="btn green" data-toggle="modal" data-target=".bs-example-modal-sm">Small modal</button>
                      <div class="modal fade bs-example-modal-sm" tabindex="-1" role="dialog" >
                        <div class="modal-dialog modal-sm">
                          <div class="modal-content">
                            <div class="modal-header">
                              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
                              <h4 class="modal-title" >Modal title</h4>
                            </div>
                            <div class="modal-body"> One fine body… </div>
                            <div class="modal-footer">
                              <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              <button type="button" class="btn green">Save</button>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <!-- Inline Notifications-->
          <div class="col-lg-12">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Inline Notifications</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo3">
                <div class="widgets-container">
                  <div class="alert alert-block alert-danger fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="alert-heading">Error!</h4>
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                    <p> <a href="javascript:;" class="btn green"> Do this </a> <a href="javascript:;" class="btn blue"> Cancel </a> </p>
                  </div>
                  <div class="alert alert-block alert-success fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="alert-heading">Success!</h4>
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                    <p> <a href="javascript:;" class="btn green"> Do this </a> <a href="javascript:;" class="btn btn-link"> Cancel </a> </p>
                  </div>
                  <div class="alert alert-block alert-info fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="alert-heading">Info!</h4>
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                    <p> <a href="javascript:;" class="btn purple"> Do this </a> <a href="javascript:;" class="btn dark"> Cancel </a> </p>
                  </div>
                  <div class="alert alert-block alert-warning fade in">
                    <button aria-label="Close" data-dismiss="alert" class="close" type="button"><span aria-hidden="true">×</span></button>
                    <h4 class="alert-heading">Warning!</h4>
                    <p> Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. </p>
                    <p> <a href="javascript:;" class="btn green"> Do this </a> <a href="javascript:;" class="btn blue"> Cancel </a> </p>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- -->
        </div>
        <div class="row">
          <!-- Tooltips-->
          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Tooltips</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo8">
                <div class="widgets-container">
                  <p>Tight pants next level keffiyeh <a title="" tooltip-placement="top" href="#" uib-tooltip="Default tooltip">you probably</a> haven't heard of them. Photo booth beard raw denim letterpress vegan messenger bag stumptown. Farm-to-table seitan, mcsweeney's fixie sustainable quinoa 8-bit american apparel <a title="" tooltip-placement="top" href="#" uib-tooltip="Another tooltip">have a</a> terry richardson vinyl chambray. Beard stumptown, cardigans banh mi lomo thundercats. Tofu biodiesel williamsburg marfa, four loko mcsweeney's cleanse vegan chambray. A really ironic artisan <a title="" tooltip-placement="top" href="#" uib-tooltip="Another one here too">whatever keytar</a>, scenester farm-to-table banksy Austin <a title="" tooltip-placement="top" href="#" uib-tooltip="The last tip!">twitter handle</a> freegan cred raw denim single-origin coffee viral.</p>
                  <button type="button" class="btn btn-default" tooltip-placement="Left" popover-placement="left" title="" uib-tooltip="Tooltip on left">Left</button>
                  <button type="button" class="btn btn-default" tooltip-placement="Top" popover-placement="top" title="" uib-tooltip="Tooltip on top">Top</button>
                  <button type="button" class="btn btn-default" tooltip-placement="Bottom" popover-placement="bottom" title="" uib-tooltip="Tooltip on bottom">Bottom</button>
                  <button type="button" class="btn btn-default" tooltip-placement="Right" popover-placement="right" title="" uib-tooltip="Tooltip on right">Right</button>
                </div>
              </div>
            </div>
          </div>
          <!-- Popovers -->
          <div class="col-lg-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Popovers </h5>
                <!-- ibox-tools -->
<div ibox-tools></div>
                  <!-- ibox-tools -->
              </div>
              <!-- / ibox-title -->
              <div class="ibox-content collapse in" id="demo9">
                <div class="widgets-container">
                  <p> Add small overlays of content, like those on the iPad, to any element for housing secondary information. Popovers whose both title and content are zero-length are never displayed.</p>
                  <button data-trigger="hover" type="button" class="btn btn-default" data-container="body" data-toggle="popover" popover-placement="left" uib-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." uib-tooltip="" title=""> Left </button>
                  <button data-trigger="hover" type="button" class="btn btn-default" data-container="body" data-toggle="popover" popover-placement="top" uib-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." uib-tooltip="" title=""> Top </button>
                  <button data-trigger="hover" type="button" class="btn btn-default" data-container="body" data-toggle="popover" popover-placement="bottom" uib-popover="Vivamus
sagittis lacus vel augue laoreet rutrum faucibus." uib-tooltip="" title=""> Bottom </button>
                  <button data-trigger="hover" type="button" class="btn btn-default" data-container="body" data-toggle="popover" popover-placement="right" uib-popover="Vivamus sagittis lacus vel augue laoreet rutrum faucibus." uib-tooltip="" title=""> Popover on right </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        

      </div>
      

    </div>
  </div>
</div>


