<div >
	<div class="logo">
		<a href="#/dashboard1"> <img src="images/w-logo.png" alt=""> </a>
	</div>
	<div class="passwordBox">
		<div class="row">
			<div class="col-md-12">
				<div class="widgets-container">
					<h2 class="font-bold">Forgot password</h2>
					<p> Enter your email address and your password will be reset and emailed to you. </p>
					<div class="row">
						<div class="col-lg-12">
							<form action="index.html" class="top15">
								<div class="form-group">
									<input type="email" required="" placeholder="Email address" class="form-control">
								</div>
								<button class="btn green block bottom15" type="submit">Send new password</button>
								<a href="#/login" class="btn green btn-outline pull-right ">Back</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 login-copyright"> <strong>Copyright</strong> AdminBag Company &copy; 2017-2017 </div>
		</div>
	</div>
</div>
