	<div class="page-container ">
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2> Morris Chart </h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a>Graphs</a> </li>
							<li class="active"> <strong> Morris Chart</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content ">
					<div class="row">
						<!-- Scatter Chart-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Line Sample </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo1">
									<div class="demo-container">
										
										<div class="demo-placeholder" line-chart line-data='[
										    { y: "2006", a: 74, b: 47 },
										    { y: "2007", a: 83,  b: 70 },
										    { y: "2008", a: 54,  b: 92 },
										    { y: "2009", a: 31,  b: 53 },
										    { y: "2010", a: 92,  b: 83 },
										    { y: "2011", a: 30,  b: 42 },
										    { y: "2012", a: 11, b: 6 }
										]' line-xkey='y' line-ykeys='["a", "b"]' line-labels='["Serie A", "Serie B"]' line-colors='["#83decc", "#49b6d6"]'>
										</div>

									</div>
								</div>
							</div>
						</div>
						<!-- Scatter Chart-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Area Sample </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo2">
									<div class="demo-container">
										<div class="demo-placeholder" area-chart area-data='[
										    { y: "2006", a: 100, b: 90 },
										    { y: "2007", a: 75,  b: 65 },
										    { y: "2008", a: 50,  b: 40 },
										    { y: "2009", a: 75,  b: 65 },
										    { y: "2010", a: 50,  b: 40 },
										    { y: "2011", a: 75,  b: 65 },
										    { y: "2012", a: 100, b: 90 }
										  ]' area-xkey='y' area-ykeys='["a", "b"]' area-labels='["Serie A", "Serie B"]' line-colors='["#83decc", "#49b6d6"]'>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="row">
						<!--  vertical bar chart -->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Bar Sample </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo3">
									<div class="demo-container">
										<div class="demo-placeholder" bar-chart bar-data='[
										    { y: "2009", a: 75,  b: 65 },
										    { y: "2010", a: 50,  b: 40 },
										    { y: "2011", a: 75,  b: 65 },
										    { y: "2012", a: 100, b: 90 }
										]' bar-x='y' bar-y='["a", "b"]' bar-labels='["Series A", "Series B"]' bar-colors='["#83decc", "#49b6d6"]'>
										</div>
									</div>
								</div>
							</div>
						</div>
						<!-- Area Chart-->
						<div class="col-lg-6">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Donut Sample </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo4">
									<div class="demo-container">
										<div class="demo-placeholder" donut-chart donut-data='[
										    {label: "Download Sales", value: 12},
										    {label: "In-Store Sales",value: 30},
										    {label: "Mail-Order Sales", value: 20}
										]' donut-colors='["#83decc","#49b6d6","#98a0d3"]' donut-formatter='"currency"'>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				

			</div>
		</div>
	</div>

	