	<div class="page-container ">
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight" ng-controller="amChartsCtrl">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2>amChart </h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a>Graphs</a> </li>
							<li class="active"> <strong>amChart</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content ">
					<!-- Bar Chart-->
					<div class="row">
						<div class="col-lg-12">
							<p> You can download and use all amCharts products for free. The only limitation of the free version is that a small link
								to this web site will be displayed in the top left corner of your charts. If you would like to use charts without
								this link, or you appreciate the software and would like to support its creators, please purchase a commercial license
								</p>
							<p> For more info please check out <a target="_blank" class="btn green btn-outline  btn-xs" href="https://www.amcharts.com/">Documentation</a>								</p>
						</div>
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Bar Chart <small>With custom colors.</small></h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart4" options="barChart"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Duration on Value Axis -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Duration on Value Axis </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo1">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart5" options="chartValueAxis"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
				
					<!-- 3D Cylinder Chart  -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>3D Cylinder Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo3">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart2" options="cylinderChart"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
			
					<!-- Bar and line chart mix  -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Bar and line chart mix </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo5">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart8" options="BarLine"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Date Based Data  -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Date Based Data </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo6">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart13" options="DateBasedData"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Line With Changing Color   -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Line With Changing Color </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo7">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart14" options="LineChangingColor"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!--Trend Lines  -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Trend Lines </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo8">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart15" options="trendLines"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!-- Simple Pie Chart   -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5> Simple Pie Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo9">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart7" options="simplePieChart"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
					<!-- 3D Donut Chart   -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5> 3D Donut Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo10">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart1" options="donutChart"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
				
					<!--  Polar Chart    -->
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5> Polar Chart </h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div class="ibox-content collapse in" id="demo12">
									<div class="chartdiv-container chartdiv"><am-chart id="myFirstChart10" options="polarChart"></am-chart></div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				

			</div>
		</div>

</div>