	<div class="page-container ">
		<!-- Start page content wrapper -->
		<div class="page-content-wrapper animated fadeInRight  ">
			<div class="page-content">
				<div class="row wrapper border-bottom page-heading">
					<div class="col-lg-12">
						<h2>Lightbox Gallery</h2>
						<ol class="breadcrumb">
							<li> <a href="#/dashboard1">Home</a> </li>
							<li> <a> Gallery </a> </li>
							<li class="active"> <strong>Lightbox Gallery</strong> </li>
						</ol>
					</div>
				</div>
				<div class="wrapper-content ">
					<div class="row">
						<div class="col-lg-12">
							<div class="ibox float-e-margins">
								<div class="ibox-title">
									<h5>Lightbox <small>image gallery</small></h5>
									<!-- ibox-tools -->
<div ibox-tools></div>
								</div>
								<div id="demo" class="ibox-content collapse in">
									<div class="widgets-container">
										 <div class="lightBoxGallery">
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/1s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/2s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/3s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/7s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/8s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/9s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/7s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/2s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/3s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/1s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/9s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/11s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/1s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/2s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/3s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/7s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/8s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/9s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/11s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/7s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/2s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/3s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/1s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/9s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/11s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/7s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/8s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/9s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/11s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/6s.jpg"></a>
                        <a href="images/lightBoxGallery/12.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/12s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/4s.jpg"></a>
                        <a href="images/lightBoxgallery/placeholders.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/5s.jpg"></a>
                        <a href="images/lightBoxGallery/10.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/10s.jpg"></a>
                        <a href="images/lightBoxGallery/11.jpg" title="Image from Unsplash" data-gallery=""><img src="images/lightBoxGallery/11s.jpg"></a>

                        <!-- The Gallery as lightbox dialog, should be a child element of the document body -->
                    <div id="blueimp-gallery" class="blueimp-gallery">
                        <div class="slides"></div>
                        <h3 class="title"></h3>
                        <a class="prev">‹</a>
                        <a class="next">›</a>
                        <a class="close">×</a>
                        <a class="play-pause"></a>
                        <ol class="indicator"></ol>
                    </div>
									</div>
								</div>
							</div>
						</div>
					</div>
				
				</div>
				

			</div>
		</div>
	</div>
