<div class="page-container ">
 
<!-- Start page content wrapper -->
<div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
     <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
           <form action="index.html" method="get">
                    <div class="input-group">
                        <input placeholder="Search email" name="search" class="form-control input-sm" type="text">
                        <div class="input-group-btn">
                            <button class="btn btn-sm btn-primary green" type="submit">
                                Search
                            </button>
                        </div>
                    </div>
                </form>
        </div>
      </div>

      <div class="wrapper-content "><div class="row">
            <div class="col-lg-2 padding-none">
                <div class="ibox float-e-margins">
                    <div class="ibox-content mailbox-content">
                        <div class="file-manager">
                            <a href="#/mail_compose" class="btn btn-block green  ">Compose Mail</a>
                            <div class="space-25"></div>
                            <h5>Folders</h5>
                            <ul class="folder-list m-b-md">
                                <li><a href="#/mailbox"> <i class="fa fa-inbox "></i> Inbox <span class="label badge-primary pull-right">22</span> </a></li>
                                <li><a href="#/mailbox"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                                <li><a href="#/mailbox"> <i class="fa fa-certificate"></i> Important</a></li>
                                <li><a href="#/mailbox"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">50</span></a></li>
                                <li><a href="#/mailbox"> <i class="fa fa-rocket"></i> Spam  </a></li>
                                <li><a href="#/mailbox"> <i class="fa fa-trash-o"></i> Trash</a></li>
                            </ul>
                            <h5 class="tag-title">online friend</h5>
                        <ul class="inbox-contacts-list">
                                            
                                            <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Jordan Belfort</span>
                                                    <span class="contact-status green-bg"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Robert Angier</span>
                                                    <span class="contact-status red-bg"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                     <span class="contact-name">Olivia Wenscombe</span>
                                                    <span class="contact-status green-bg"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Alex Smith</span>                                                    <span class="contact-status green-bg"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Alex Smith</span>
                                                    <span class="contact-status green-bg"></span>
                                                </a>
                                            </li>

                                             <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Ariadne </span>
                                                    <span class="contact-status orange-bg "></span>
                                                </a>
                                            </li>

                                             <li>
                                                <a href="javascript:;">
                                                    <img alt="" class="img-circle" src="images/teem/placeholders.jpg">
                                                    <span class="contact-name">Andy Smith </span>
                                                    <span class="contact-status red-darker-bg"></span>
                                                </a>
                                            </li>
                                        </ul>

                            <div class="clearfix"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 ">
            <div class="mail-box-header">
                <div class="pull-right tooltip-demo">
                    <a title="Move to draft folder" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#/mailbox"><i class="fa fa-pencil"></i> Draft</a>
                    <a title="Discard email" data-placement="top" data-toggle="tooltip" class="btn btn-danger btn-sm" href="#/mailbox"><i class="fa fa-times"></i> Discard</a>
                </div>
                <h2>
                    Compose mail
                </h2>
            </div>
                <div class="mail-box">


                <div class="mail-body">

                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">To:</label>

                            <div class="col-sm-10"><input type="text" value="olivia.wenscombe@adminbag.com" class="form-control"></div>
                        </div>
                        <div class="form-group"><label class="col-sm-2 control-label">Subject:</label>

                            <div class="col-sm-10"><input type="text" value="" class="form-control"></div>
                        </div>
                        </form>

                </div>

                    <div class="mail-text">

                    <form class="form-horizontal form-bordered">
     <div class="note-editor panel-default">   


     <div summernote class="summernote"  ng-model="main.summernoteText">
                        <h3>Hello Olivia!  </h3>
                        <p> Golden Autumn for Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web </p>
                        
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. 
                        <br/>
                        <br/>

                    </div>
    </div>
    </form>

                        

                        </div>
                    <div class="mail-body text-right tooltip-demo">
                        <a title="Send" data-placement="top" data-toggle="tooltip" class="btn green  btn-sm btn-primary" href="#/mailbox"><i class="fa fa-reply"></i> Send</a>
                        <a title="Discard email" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#/mailbox"><i class="fa fa-times"></i> Discard</a>
                        <a title="Move to draft folder" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#/mailbox"><i class="fa fa-pencil"></i> Draft</a>
                    </div>
                    <div class="clearfix"></div>



                </div>
            </div>
        </div> </div>


</div>
</div>
</div>
