<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="row wrapper border-bottom page-heading">
        <div class="col-lg-12">
          <form action="index.html" method="get">
            <div class="input-group">
              <input placeholder="Search email" name="search" class="form-control input-sm" type="text">
              <div class="input-group-btn">
                <button class="btn btn-sm btn-primary green" type="submit"> Search </button>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="wrapper-content ">
        <div class="row">
          <div class="col-lg-2 padding-none">
            <div class="ibox float-e-margins">
              <div class="ibox-content mailbox-content">
                <div class="file-manager"> <a href="#/mail_compose" class="btn btn-block green  ">Compose Mail</a>
                  <div class="space-25"></div>
                  <h5>Folders</h5>
                  <ul class="folder-list m-b-md">
                    <li><a href="#/mailbox"> <i class="fa fa-inbox "></i> Inbox <span class="label badge-primary pull-right">22</span> </a></li>
                    <li><a href="#/mailbox"> <i class="fa fa-envelope-o"></i> Send Mail</a></li>
                    <li><a href="#/mailbox"> <i class="fa fa-certificate"></i> Important</a></li>
                    <li><a href="#/mailbox"> <i class="fa fa-file-text-o"></i> Drafts <span class="label label-danger pull-right">50</span></a></li>
                    <li><a href="#/mailbox"> <i class="fa fa-rocket"></i> Spam </a></li>
                    <li><a href="#/mailbox"> <i class="fa fa-trash-o"></i> Trash</a></li>
                  </ul>
                  <h5 class="tag-title">online friend</h5>
                  <ul class="inbox-contacts-list">
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Jordan Belfort</span> <span class="contact-status green-bg"></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Robert Angier</span> <span class="contact-status red-bg"></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Olivia Wenscombe</span> <span class="contact-status green-bg"></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Alex Smith</span> <span class="contact-status green-bg"></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Alex Smith</span> <span class="contact-status green-bg"></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Ariadne </span> <span class="contact-status orange-bg "></span> </a> </li>
                    <li> <a href="javascript:;"> <img alt="" class="img-circle" src="images/teem/placeholders.jpg"> <span class="contact-name">Andy Smith </span> <span class="contact-status red-darker-bg"></span> </a> </li>
                  </ul>
                  <div class="clearfix"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-10 ">
            <div class="mail-box-header">
              <div class="pull-right tooltip-demo"> <a title="Reply" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#/mail_compose"><i class="fa fa-reply"></i> Reply</a> <a title="" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#" data-original-title="Print email"><i class="fa fa-print"></i> </a> <a title="Move to trash" data-placement="top" data-toggle="tooltip" class="btn btn-white btn-sm" href="#/mailbox"><i class="fa fa-trash-o"></i> </a> </div>
              <h2> View Message </h2>
              <div class="mail-tools tooltip-demo ">
                <h3> <span class="font-noraml">Subject: </span>Aldus PageMaker including versions of Lorem Ipsum. </h3>
                <h5> <span class="pull-right font-noraml">10:15AM 02 FEB 2014</span> <span class="font-noraml">From: </span>alex.smith@corporation.com </h5>
              </div>
            </div>
            <div class="mail-box">
              <div class="mail-body">
                <p> Hello Jonathan! <br>
                  <br>
                  Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer
                  took a galley of type and scrambled it to make a type <strong>specimen book.</strong>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum. It has survived not only five centuries, but also the leap into electronic typesetting, remaining
                  essentially unchanged. </p>
                <p> It was popularised in the 1960s with the release <a class="text-navy" href="#">Letraset sheets</a> containing Lorem Ipsum passages, and more recently with desktop publishing software
                  like Aldus PageMaker including versions of Lorem Ipsum. </p>
                <p> There are many variations of passages of <strong>Lorem Ipsum</strong>Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of. </p>
              </div>
              <div class="mail-attachment">
                <p> <span><i class="fa fa-paperclip"></i> 2 attachments - </span> <a href="#">Download all</a> | <a href="#">View all images</a> </p>
                <div class="attachment">
                  <div class="file-box">
                    <div class="file"> <a href="#"> <span class="corner"></span>
                      <div class="icon"> <i class="fa fa-file"></i> </div>
                      <div class="file-name"> Document_2014.doc <br>
                        <small>Added: Jan 11, 2014</small> </div>
                      </a> </div>
                  </div>
                  <div class="file-box">
                    <div class="file"> <a href="#"> <span class="corner"></span>
                      <div class="image"> <img src="images/demo_files/placeholders.jpg" class="img-responsive" alt="image"> </div>
                      <div class="file-name"> pool.jpg <br>
                        <small>Added: Jan 6, 2014</small> </div>
                      </a> </div>
                  </div>
                  <div class="file-box">
                    <div class="file"> <a href="#"> <span class="corner"></span>
                      <div class="image"> <img src="images/demo_files/placeholders.jpg" class="img-responsive" alt="image"> </div>
                      <div class="file-name"> My fun.jpg <br>
                        <small>Added: Jan 7, 2014</small> </div>
                      </a> </div>
                  </div>
                  <div class="clearfix"></div>
                </div>
              </div>
              <div class="mail-body text-right tooltip-demo"> <a href="#/mail_compose" class="btn btn-sm btn-white"><i class="fa fa-reply"></i> Reply</a> <a href="#/mail_compose" class="btn btn-sm btn-white"><i class="fa fa-arrow-right"></i> Forward</a>
                <button class="btn btn-sm btn-white" data-original-title="Print" type="button" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-print"></i> Print</button>
                <button class="btn btn-sm btn-white" data-original-title="Trash" data-toggle="tooltip" data-placement="top" title=""><i class="fa fa-trash-o"></i> Remove</button>
              </div>
              <div class="clearfix"></div>
            </div>
          </div>
        </div>
      </div>
      

</div>
</div>
</div>