<div class="page-container ">
  <!-- Start page content wrapper -->
  <div class="page-content-wrapper animated fadeInRight  ">
    <div class="page-content" >
      <div class="wrapper-content ">
        <div class="row">
          <!-- Headings-->
          <div class="col-sm-3">
            <div class="ibox float-e-margins">
              <div>
                <div class="profile-img-box"> <img src="images/teem-large/placeholders.jpg" class="full-width" alt="image"> <a href="#" class="pro-like"> <i class="fa fa-heart-o" aria-hidden="true"></i> 398</a> </div>
                <div class="widgets-container">
                  <h4><strong>Susan Wenscombe</strong></h4>
                  <p><i class="fa fa-map-marker"></i> 796 Silver Harbour, TX 79273, US</p>
                  <h5> About me </h5>
                  <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitat. </p>
                  <div class="row m-t-lg"> </div>
                  <div class="user-button">
                    <div class="row">
                      <div class="col-md-6">
                        <button class="btn green  btn-sm btn-block" type="button"><i class="fa fa-envelope"></i> Send Message</button>
                      </div>
                      <div class="col-md-6">
                        <button class="btn btn-default btn-sm btn-block" type="button"><i class="fa fa-coffee"></i> Buy a coffee</button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="widgets-container">
                  <h3>Followers and friends</h3>
                  <p class="small"> If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                    anything embarrassing </p>
                  <div class="user-friends"> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> <a href=""><img src="images/teem/placeholders.jpg" class="img-circle" alt="image"></a> </div>
                </div>
              </div>
            </div>
            <div class="ibox"> </div>
          </div>
          <div class="col-sm-6">
            <div class="ibox float-e-margins">
              <div class="ibox-title">
                <h5>Activites</h5>
                <!-- ibox-tools -->
<div ibox-tools></div>

              </div>
              <!-- / ibox-title -->
              <div id="demo1" class="ibox-content collapse in">
                <div class="widgets-container">
                  <div>
                    <div class="feed-activity-list">
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right text-navy">1m ago</small> <strong>Mitch Buchannon</strong> started following <strong>Olivia Wenscombe</strong>. <br>
                          <small class="text-muted">Today 9:00 pm - 11.06.2016</small>
                          <div class="actions"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-danger"><i class="fa fa-heart"></i> Love</a> </div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">5m ago</small> <strong>Olivia Wenscombe</strong> posted a new blog. <br>
                          <small class="text-muted">Today 5:60 pm - 12.06.2016</small> </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">2h ago</small> <strong>Robert Angier</strong> posted message on <strong>Olivia Wenscombe</strong> site. <br>
                          <small class="text-muted">Today 2:10 pm - 12.06.2016</small>
                          <div class="well"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </div>
                          <div class="pull-right"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a> <a class="btn btn-xs aqua"><i class="fa fa-pencil"></i> Message</a> </div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">2h ago</small> <strong>Ariadne</strong> add 1 photo on <strong>Olivia Wenscombe</strong>. <br>
                          <small class="text-muted">2 days ago at 8:30am</small>
                          <div class="photos"> <img alt="image" class="feed-photo" src="images/demo_files/placeholders.jpg"> </div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right text-navy">5h ago</small> <strong> Alex Smith </strong> started following <strong>Olivia Wenscombe</strong>. <br>
                          <small class="text-muted">Yesterday 1:21 pm - 11.06.2016</small>
                          <div class="actions"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> <a class="btn btn-xs btn-white"><i class="fa fa-heart"></i> Love</a> </div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">2h ago</small> <strong>Susan Wenscombe </strong> posted message on <strong>Olivia Wenscombe</strong> site. <br>
                          <small class="text-muted">Yesterday 5:20 pm - 12.06.2016</small>
                          <div class="well"> Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.
                            Over the years, sometimes by accident, sometimes on purpose (injected humour and the like). </div>
                          <div class="pull-right"> <a class="btn btn-xs btn-white"><i class="fa fa-thumbs-up"></i> Like </a> </div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">23h ago</small> <strong>Olivia Wenscombe</strong> love <strong>Sophie </strong>. <br>
                          <small class="text-muted">2 days ago at 2:30 am - 11.06.2016</small>
                          <div class="photos"><img alt="image" class="feed-photo" src="images/demo_files/placeholders.jpg"></div>
                        </div>
                      </div>
                      <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                        <div class="media-body "> <small class="pull-right">46h ago</small> <strong>Mike Loreipsum</strong> started following <strong>Olivia Wenscombe</strong>. <br>
                          <small class="text-muted">3 days ago at 7:58 pm - 10.06.2016</small> </div>
                      </div>
                    </div>
                    <button class="btn green btn-block "><i class="fa fa-arrow-down"></i> Show More</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-3">
            <div class="ibox">
              <div class="widgets-container">
                <div class="feed-element"> <a href="#" class="pull-left"> <img alt="image" class="img-circle" src="images/teem/placeholders.jpg"> </a>
                  <div class="media-body "> <strong>Olivia Wenscombe </strong>send Friend Requests to you . <br>
                    <small class="text-muted">Today 9:00 pm - 11.06.2016</small>
                    <div class="actions"> <a class="btn btn-xs aqua"><i class="glyphicon glyphicon-ok"></i> Confirm</a> <a class="btn btn-xs btn-danger"><i class="glyphicon glyphicon-remove " aria-hidden="true"></i> Delete</a> </div>
                  </div>
                </div>
                <h3>About Olivia Wenscombe</h3>
                <p class="small"> There are many variations of passages of Lorem Ipsum available, but the majority have
                  suffered alteration in some form, by injected humour, or randomised words which don't. <br>
                  <br>
                  If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't
                  anything embarrassing </p>
                <p class="small font-bold"> <span><i class="fa fa-circle text-navy"></i> Online status</span> </p>
              </div>
            </div>
            <div class="ibox">
              <div class="widgets-container">
                <h3>Personal Details </h3>
                <table class="table small m-b-xs">
                  <tbody>
                    <tr>
                      <td><strong>142</strong> Projects </td>
                      <td><strong>22</strong> Followers </td>
                    </tr>
                    <tr>
                      <td><strong>61</strong> Comments </td>
                      <td><strong>54</strong> Articles </td>
                    </tr>
                    <tr>
                      <td><strong>154</strong> Tags </td>
                      <td><strong>32</strong> Friends </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
            <div class="ibox">
              <div class="widgets-container">
                <h3>Private message</h3>
                <p class="small"> Send private message to Olivia Wenscombe </p>
                <div class="form-group">
                  <label>Subject</label>
                  <input placeholder="Message subject" class="form-control" type="email">
                </div>
                <div class="form-group">
                  <label>Message</label>
                  <textarea rows="3" placeholder="Your message" class="form-control"></textarea>
                </div>
                <button class="btn green btn-block">Send</button>
              </div>
            </div>
          </div>
        </div>
      </div>      

</div>
</div>
</div>