<!DOCTYPE html>
<html ng-app="adminbag">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Font awesome -->
    <link href="font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="simple-line-icons/simple-line-icons.css" rel="stylesheet">

    <!-- Main adminbag CSS files -->
    <link href="css/animate.css" rel="stylesheet">
    <link href="css/buttons.css" rel="stylesheet">
    <link id="adminAngular" href="css/main.css" rel="stylesheet">
    <link href="css/main.media.css" rel="stylesheet">
    <!-- darkblue theme css -->
    <link href="css/darkblue.css" rel="stylesheet">

    <!-- adminbag demo css-->
    <link href="css/adminbagdemo.css" rel="stylesheet">



    
 

</head>

<!-- ControllerAs syntax -->
<!-- Main controller with serveral data used in adminbag theme on diferent view -->
<body ng-controller="MainCtrl as main" class="{{$state.current.data.specialClass}}">

<!-- include header -->
<div ng-include="'views/common/header.html'"></div>
<!-- include navigation -->
<div ng-include="'views/common/navigation.html'"></div>

<!-- Main view  -->
<div ui-view></div>

<!-- include footer -->
 <div ng-include="'views/common/footer.html'"></div>
 
<!-- jQuery and Bootstrap -->
<script src="js/jquery/jquery-3.1.1.min.js"></script>
<script src="js/plugins/jquery-ui/jquery-ui.min.js"></script>
<script src="js/bootstrap/bootstrap.min.js"></script>


<!-- Peace JS -->
<script src="js/plugins/pace/pace.min.js"></script>



<!-- Main Angular scripts-->
<script src="js/angular/angular.min.js"></script>
<script src="js/plugins/oclazyload/dist/ocLazyLoad.min.js"></script>
<script src="js/ui-router/angular-ui-router.min.js"></script>
<script src="js/angular/angular-animate.min.js"></script>
<script src="js/bootstrap/ui-bootstrap-tpls-1.1.2.min.js"></script>



<!--
 You need to include this script on any page that has a Google Map.
 When using Google Maps on your own site you MUST signup for your own API key at:
 https://developers.google.com/maps/documentation/javascript/tutorial#api_key
 After your sign up replace the key in the URL below..
-->




<script type="text/javascript" src="js/plugins/amcharts/amcharts.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/serial.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/pie.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/gantt.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/funnel.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/radar.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/amstock.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/ammap.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/worldLow.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/light.js"></script>
<script type="text/javascript" src="js/plugins/amcharts/export.min.js"></script>
<script type="text/javascript" src="js/plugins/amChartsDirective.js"></script>

 <!-- google mape api -->   
<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=true"></script>

<!-- Anglar App Script -->
<script src="js/app.js"></script>
<script src="js/config.js"></script>

<script src="js/controllers.js"></script>

<script src="js/directives.js"></script>


<!-- Custom and plugin javascript -->
<script src="js/adminbox.js"></script>

<!-- adminbag demo js-->
<script src="js/adminbagdemo.js"></script>


<!-- start theme config -->
  <div class="theme-config">
    <div class="theme-config-box">
      <div class="spin-icon"> <i class="fa fa-cogs fa-spin"></i> </div>
      <div class="skin-setttings">
        <div class="title">Configuration</div>
        <div class="setings-item"> <span> Collapse menu </span>
          <div class="switch">
            <div class="onoffswitch">
              <input name="collapsemenu" class="onoffswitch-checkbox" id="collapsemenu" type="checkbox">
              <label class="onoffswitch-label" for="collapsemenu">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
            </label>
            </div>
          </div>
        </div>        
        <div class="setings-item"> <span> Header Static </span>
          <div class="switch">
            <div class="onoffswitch">
              <input name="headerfixed" class="onoffswitch-checkbox" id="headerfixed" type="checkbox">
              <label class="onoffswitch-label" for="headerfixed">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
            </label>
            </div>
          </div>
        </div>
   
        <div class="setings-item"> <span> Fixed footer </span>
          <div class="switch">
            <div class="onoffswitch">
              <input name="fixedfooter" class="onoffswitch-checkbox" id="fixedfooter" type="checkbox">
              <label class="onoffswitch-label" for="fixedfooter">
            <span class="onoffswitch-inner"></span>
            <span class="onoffswitch-switch"></span>
            </label>
            </div>
          </div>
        </div>
         <div class="setings-item viewAllThemes"> <span class="skin-name"> <a href="#"> View All Themes </a> </span> </div>
 <div class="setings-item gohome "> <span class="skin-name"> <a href="http://adminbag-v1.3.bittyfox.com/"> Go to Lending Page </a> </span> </div>
      </div>
    </div>
  </div>
  <!-- end theme config -->
    <!-- start theme View -->
    <div class="request-form ng-scope">
        <div class="col-md-12">
            <div class="crossrightsingle">
                <a href="#" class="closeForm"></a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>All Adminbag Themes</h2>
                    <hr class="small custom">
                </div>
            </div>
            <!-- /.row -->
            <div class="hover14 column row">
                <div class="col-lg-4">
                    <a href="../aqua-black/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/aqua-black.jpg"><samp class="viewDemo">View Demo</samp>                            </figure>
                        <span>Aqua Black</span> </a>
                </div>
                <div class="col-lg-4">
                    <a href="../dark/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/dark.jpg"><samp class="viewDemo">View Demo</samp>                          </figure>
                        <span>Dark</span> </a>
                </div>
                <div class="col-lg-4">
                    <a href="../dark-blue/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/dark-blue.jpg"><samp class="viewDemo">View Demo</samp>                         </figure>
                        <span>Dark Blue</span> </a>
                </div>
            </div>
            <div class="hover14 column row">
                <div class="col-lg-4">
                    <a href="../light/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/light.jpg"><samp class="viewDemo">View Demo</samp>                         </figure>
                        <span>Light</span> </a>
                </div>
                <div class="col-lg-4">
                    <a href="../red-black/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/red-black.jpg"><samp class="viewDemo">View Demo</samp>                         </figure>
                        <span>Red Black</span> </a>
                </div>
                <div class="col-lg-4">
                    <a href="../green-blue/index.html">
                        <figure><img alt="" class="img-responsive" src="../../lendingPage/img/themes/white-blue.jpg"><samp class="viewDemo">View Demo</samp>                            </figure>
                        <span>Green Blue</span> </a>
                </div>
            </div>
            <!-- /.container -->
        </div>
    </div>
    <!-- End theme View -->

</body>
</html>
